.outer{
    height: 200px;
    width:70px;
    border: 2px solid black;
    
}

div{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 9.5px;
    
}

#red{
    border-radius: 50%;
    background-color: red;
}

#green{
    border-radius: 50%;
    background-color: green;
}

#orange{
    border-radius: 50%;
    background-color: orange;
}

.box{
    height: 150px;
    width: 300px;
    background-color: rgb(126, 75, 75);
    border: 15px dotted black;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;

}